/* font link */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #E6E6E6;
}

/*-------------header styles -------------*/

.header-part {
    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 60px 50px;
    border-radius: 15px;
    margin: 120px 120px;

}

.header-text {
    width: 50%;
    margin-top: 20px;
    color: white;
}

.text-width {
    font-size: 60px;
}

.button {
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 15px 35px;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: inset 0 0 0 0 yellow;
    transition: ease-in 1s;
    outline: none;
    position: relative;
    z-index: 1;
}

.button:hover {
    box-shadow: inset 300px 0 0 0 yellow;
}

.header-img img {
    margin-top: 20px;
    width: 600px;
}





/*//////////////// main section///////////// */

.section-1 {
    display: flex;
    margin-left: 120px;

}

/* ancor style /link style */
.ancor-style {
    background-color: black;
    border-radius: 20px;
    width: 300px;
    height: 350px;
    text-align: center;
}

.ancor-style a {
    text-decoration: none;
    color: black;
    background-color: white;
    border: 3px solid black;
    display: block;
    width: 80%;
    padding: 15px 10px;
    margin-top: -15px;
    margin-bottom: -15px;

    border-radius: 20px;
    font-size: 20px;
    margin-left: 20px;
}

#ancor {
    background-color: red;
}

#ancor-1 {
    background-color: red;
}

/* ////////////img part -1///////////////////////////*/

.img-part-1 {
    width: 310px;
    height: 375px;
    background-color: white;
    margin-top: 15px;
    border-radius: 10px;
    margin-left: 20px;
}

.article-text button {
    padding: 3px 20px;
    font-size: 15px;
}

.article-text {
    margin-left: 15px;
}

.article-text img {
    margin-top: 10px;
}

.icon-style {
    margin-left: 30px;
}

.hour {
    color: gray;
    margin-left: 10px;
}

.first-part {
    margin-top: 30px;

}

.tablet-first-part {
    display: none;
}

/*------- extra add view all ------*/
.view-all {
    text-align: center;
    margin-top: 50px;
    display: none;
}

.view-all a {
    text-decoration: none;
    color: white;
    background-color: red;
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 10px;

}


/* ..................footer ..............*/
footer {
    width: 100%;
    height: 400px;
    background-color: black;
    color: gray;
    margin-top: 100px;
}

h1 {
    text-align: center;
    padding-top: 100px;
    font-size: 60px;
    color: white;
}

.footer>li {
    list-style: none;
    display: inline;
    margin-left: 35px;
    text-align: center;
}

.social-icon {
    text-align: center;
    margin-top: 5px;

}

.social-icon>a {
    color: red;
    margin-left: 30px;

}

.footer {
    text-align: center;
}

/*-------------- 2nd website some css-------------- */

.germany-france {
    width: 300px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    margin-left: 20px;

}

.germany {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
    padding: 30px 0;
}

.france {
    text-align: center;
    margin-top: 20px;
}

/*............... responsive part...........
mobile and tablet device -------------------*/
/*----- tablet device -----*/
@media screen and (max-width:900px) {

    .header-part {
        margin: 10px 10px;
        padding: 50px 20px;
    }

    .header-img img {
        width: 100%;
    }

    .header-part h1 {
        font-size: 40px;
    }


    .section-1 {
        flex-wrap: wrap;
        margin-left: 0%;
        justify-content: center;
    }

    .view-all {
        display: block;
    }
}

/*------ mobile device ----- */
@media screen and (max-width: 550px) {
    .header-part {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
        padding: 0 0;
    }

    .header-part h1 {
        font-size: 50px;
    }

    .header-img img {
        margin-top: 20px;
        width: 100%;

    }

    .section-1 {
        flex-direction: column;
        margin-left: 0px;
        align-items: center;
        justify-items: center;
    }



    .footer>li {

        display: block;
        margin-top: 15px;
    }

    footer {
        height: 600px;
    }

    .view-all {
        display: block;
    }
}